.other
  padding: 40px 0 70px 0

  &-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    column-gap: 30px
    row-gap: 30px

  &__item
    display: grid
    grid-template: 1fr / 1fr 1fr
    grid-column-start: 1
    grid-column-end: 3
    position: relative

  &__image
    width: 100%
    height: 100%
    object-fit: cover
    &--mini
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 8px 8px 0px 0px
      overflow: hidden
  &__offer
    position: absolute
    padding: 8px 12px 7px 11px
    background-color: $primary
    color: $light
    font-weight: 600
    font-size: 12px
    line-height: 15px
    top: 26px
    left: 0
    &--mini
      padding: 4px 9px
      font-weight: 600
      font-size: 8px
      line-height: 10px

  &__title
    margin: auto
    margin-bottom: 65px
    text-align: center
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &__about
    padding: 46px 21px 30px 46px
    background: $dark
    color: $light
    border-radius: 0px 8px 8px 0px
    overflow: hidden
    &--mini
      padding: 30px 21px 25px 32px
      border-radius: 0px 0px 8px 8px
  &__new
    display: grid
    grid-template-columns: minmax(200px, 300px)
    grid-template-areas: "stars" "heading" "text"
  &__heading
    font-weight: bold
    font-size: 18px
    line-height: 23px
    grid-area: heading
    margin-bottom: 27px
    &--mini
      margin-bottom: 23px
  &__text
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    margin: 0
    margin-bottom: 34px
    grid-area: text
  &-stars
    line-height: 5px
    margin-bottom: 5px
    grid-area: stars
  &__room
    margin-bottom: 37px
    display: grid
    grid-row-gap: 11px
    &--mini
      margin-bottom: 24px
  &__book
    display: grid
    grid-template-columns: 14px 1fr
    grid-template-areas: "icon description"
    align-items: center
    column-gap: 14px

  &__description
    font-size: 12px
    line-height: 15px
    grid-area: description
  &__icon
    grid-area: icon
  &__mini
    position: relative
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr

.price
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 18px 40px
  grid-template-areas: "old ." "new button"
  align-items: center

  &__old
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
    grid-area: old

  &__new
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
    grid-area: new
  &__button
    padding: 11px 27px 10px 26px
    max-height: 40px
    border: none
    grid-area: button
    font-weight: 600
    font-size: 14px
    line-height: 19px
    border-radius: 4px
    background-color: $primary
    color: $light
    cursor: pointer
